<form method="POST" onsubmit="createUserValidation(event);" id="updateUserForm" action="/users/updateUser/{{data._id}}">

    <div class="row mt-2">
 
        <div class="col-md-6"><label class="labels">First Name</label><input type="text" class="form-control" placeholder="first name" id="firstName" name="firstName" value="{{data.firstName}}"></div>
        <div class="col-md-6"><label class="labels">Last name</label><input type="text" class="form-control" id="lastName" name="lastName" placeholder="surname" value="{{data.lastName}}"></div>
        <div class="col-md-6"><label class="labels">Username</label><input type="text" class="form-control" id="username" name="username" placeholder="username" value="{{data.username}}"></div>
        <div class="col-md-6"><label class="labels">Password</label><input type="password" class="form-control" id="password" name="password" placeholder="Please re-enter password or create a new one"></div>
 
    </div>
 
    <div class="row mt-3">
 
        <div class="col-md-6"><label class="labels">Email ID</label><input type="email" class="form-control" placeholder="enter email id" id="email" name="email" value="{{data.email}}"></div>
        <div class="col-md-6"><label class="labels">Phone Number</label><input type="text" class="form-control" placeholder="enter phone number" id="phoneNumber" name="phoneNumber" value="{{data.phoneNumber}}"></div>
        <div class="col-md-12"><label class="labels">Address</label><input type="text" class="form-control" placeholder="enter address" name="address" id="address" value="{{data.address}}"></div>
        <div class="col-md-4"><label class="labels">City</label><input type="text" class="form-control" placeholder="enter city" name="city" id="city" value="{{data.city}}"></div>
        <div class="col-md-4"><label class="labels">State Code</label><select id="state" name="state" class="form-control">
              {{#each states}}
                <option>{{this}}</option>
              {{/each}}
            </select></div>
        <div class="col-md-4"><label class="labels">Zip Code</label><input type="number" class="form-control" placeholder="zip code" name="zip" id="zip" value="{{data.zip}}"></div>
    </div>
      <div class="alert alert-danger error" id="uiError" role="alert" hidden>
  </div>
    {{#if error}}
  <div class="alert alert-danger error" id="uiError" role="alert">{{ error }}</div>
  {{/if}}
  <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Update</button>&nbsp&nbsp&nbsp&nbsp<a onclick="return confirm('Are you sure? Your account will be deleted permanently.')" href="/users/delete/{{ session }}"><button class="btn btn-danger profile-button">Delete my account</button></a></div>
</form>