<div class="row py-5 px-4">
    <div class="col-md-5 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">   
            <div class="px-4 py-3">
                <h2 class="mb-0">{{user.firstName}} {{user.lastName}}</h2> <br>
                <div class="p-4 rounded shadow-sm bg-light">
                    <span class= "d-block"><span class="font-weight-bold mb-0">Username</span>&nbsp;&nbsp;&nbsp;<span class="font-italic mb-0">{{ user.username }}</span></span>
                    <span class= "d-block"><span class="font-weight-bold mb-0">Phone Number</span>&nbsp;&nbsp;&nbsp;<span class="font-italic mb-0">{{ user.phoneNumber }}</span></span>
                    <span class= "d-block"><span class="font-weight-bold mb-0">Email</span>&nbsp;&nbsp;&nbsp;<span class="font-italic mb-0">{{ user.email }}</span></span>
                    <span class= "d-block"><span class="font-weight-bold mb-0">Address</span>&nbsp;&nbsp;&nbsp;<span class="font-italic mb-0">{{ user.address }}</span></span>
                    <span class= "d-block"><span class="font-weight-bold mb-0">City</span>&nbsp;&nbsp;&nbsp;<span class="font-italic mb-0">{{ user.city }}</span></span>
                    <span class= "d-block"><span class="font-weight-bold mb-0">State</span>&nbsp;&nbsp;&nbsp;<span class="font-italic mb-0">{{ user.state }}</span></span>
                    <span class= "d-block"><span class="font-weight-bold mb-0">ZIP code</span>&nbsp;&nbsp;&nbsp;<span class="font-italic mb-0">{{ user.zip }}</span></span>
                </div>
            </div>
            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <a style = "color: #00008B;" href="/parkings">Go to my parkings</a>
                </div>
                    <a style = "color: #00008B;" href="/users/updateUser/{{ session }}">Update / Delete my account</a>
                </div>
            </div>
        </div>
</div>